*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  line-height: 1.6;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #F8FAFC;
}

a {
  color: #0F172A;
  display: block;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

h1, h2, h3, h4, p {
  color: #0F172A;
}

.padding-global {
  padding: 35px 0;
}

.container {
  max-width: 1200px;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 0 auto;
}

.navigation {
  position: fixed;
  top: 0;
  min-width: 100%;
  height: auto;
  background-color: #F8FAFC;
}

.btn {
  padding: 15px 35px;
  border-radius: 6px;
  border: 1px solid #06B6D4;
  font-weight: 600;
  transition: all 0.2s ease-in;
}
.btn:hover {
  background-color: #ececec;
}
.btn:active {
  background-color: #F8FAFC;
}

.btn-secondary {
  background-color: #06B6D4;
  color: #F8FAFC;
  transition: all 0.2s ease-in;
}
.btn-secondary:hover {
  background-color: #09aac7;
}
.btn-secondary:active {
  background-color: #06B6D4;
}

.nav-btn {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 3rem;
}
.nav-btn a {
  font-size: 1.8rem;
  padding: 15px 35px;
}
.nav-btn .logo a {
  padding-left: 0;
}
.nav-btn .nav-container {
  display: flex;
  gap: 20px;
}
.nav-btn .nav-container .nav-link {
  border-radius: 6px;
  color: #0F172A;
  transition: all 0.2s ease;
}
.nav-btn .nav-container .nav-link:hover {
  background-color: #06B6D4;
  color: #F8FAFC;
}
.nav-btn .nav-container .nav-link:active {
  background-color: #09aac7;
}
.nav-btn .auth {
  display: flex;
  gap: 10px;
}
#hero .hero-container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 30px;
}
#hero .hero-container .hero-title {
  font-size: 6rem;
}
#hero .hero-container .hero-subtitle {
  font-size: 2.2rem;
  margin-bottom: 15px;
}
#hero .hero-container .hero-cta {
  font-size: 2.2rem;
  width: 50%;
  margin-bottom: 15px;
}
#hero .hero-container .hero-headsup {
  font-size: 1.4rem;
  font-style: italic;
}
#hero .hero-container .hero-headsup::after {
  content: " *";
  color: crimson;
  font-weight: bold;
}
#hero .hero-container .hero-img {
  overflow: hidden;
  border-radius: 12px;
  cursor: not-allowed;
}

.main-wrapper h2 {
  font-size: 4.2rem;
  margin-bottom: 35px;
}
.main-wrapper h3 {
  font-size: 3.4rem;
  margin-bottom: 5px;
}
.main-wrapper h4 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}
.main-wrapper p, .main-wrapper li {
  line-height: 2;
  font-size: 2rem;
}

#features {
  background-color: #ececec;
}
#features .feature-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
#features .feature-boxes .box {
  min-height: 200px;
  padding: 45px;
  background: linear-gradient(45deg, #1E40AF, #06B6D4 60%);
  border-radius: 15px;
}
#features .feature-boxes .box h3 {
  color: #F8FAFC;
  padding-bottom: 35px;
  text-align: center;
}
#features .feature-boxes .box p {
  color: #F8FAFC;
}

.plans-container h2 {
  text-align: center;
  border-bottom: 10px double #06B6D4;
  max-width: 60%;
  margin: 0 auto;
}
.plans-container .plans-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 35px;
}
.plans-container .plans-boxes .plans-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 350px;
  padding: 35px;
  border: 2px solid #06B6D4;
  border-radius: 12px;
}
.plans-container .plans-boxes .plans-box h3 {
  text-align: center;
}
.plans-container .plans-boxes .plans-box a {
  margin-top: 15px;
  font-size: 2rem;
  text-align: center;
}
.plans-container .plans-boxes .plans-box li {
  list-style: disc;
  margin-left: 35px;
}
.plans-container .plans-boxes .plans-box:nth-of-type(2) h3, .plans-container .plans-boxes .plans-box:nth-of-type(2) h4, .plans-container .plans-boxes .plans-box:nth-of-type(2) p, .plans-container .plans-boxes .plans-box:nth-of-type(2) li, .plans-container .plans-boxes .plans-box:nth-of-type(2) a {
  color: #F8FAFC;
}
.plans-container .plans-boxes .plans-box:nth-of-type(2) {
  background-color: #1E40AF;
  border: 2px solid #1E40AF;
  box-shadow: 0 0 20px #06B6D4;
}

.testimonials-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: center;
  gap: 50px;
}
.testimonials-boxes .testimonial-box {
  border: 2px solid #1E40AF;
  padding: 45px;
  box-shadow: 10px 10px #06B6D4;
  border-radius: 6px;
}
.testimonials-boxes .testimonial-box .user-img {
  max-width: 200px;
  height: 200px;
  overflow: hidden;
  float: left;
  margin-right: 45px;
  margin-bottom: 15px;
  border-radius: 50%;
}
.testimonials-boxes .testimonial-box .quote p q {
  font-style: italic;
}
.testimonials-boxes .testimonial-box .quote .quote-by {
  font-weight: 500;
}

/*# sourceMappingURL=main.css.map */
