@use 'utils';

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   font-size: 10px;
   line-height: 1.6;
   scroll-behavior: smooth;
}

body {
   font-family: "Inter", sans-serif;
   background-color: utils.$bg-color;
}

a {
   color: utils.$text-color;
   display: block;
   text-decoration: none;
}

li {
   list-style: none;
}

img {
   display: block;
   object-fit: cover;
   max-width: 100%;
}

h1, h2, h3, h4, p {
   color: utils.$text-color;
}

// Utilities

.padding-global {
   padding: utils.$space-m 0; // 35px 0
}

.container {
   max-width: 1200px;
   padding-left: 3rem;
   padding-right: 3rem;
   margin: 0 auto;
}

.navigation {
   position: fixed;
   top: 0;
   min-width: 100%;
   height: auto;
   background-color: utils.$bg-color;
}

.btn {
   padding: utils.$space-s utils.$space-m;
   border-radius: utils.$corner-m;
   border: 1px solid utils.$accent-color;
   font-weight: 600;
   transition: all .2s ease-in;
   &:hover {
      background-color: utils.$bg-hover;
   }
   &:active {
      background-color: utils.$bg-color;
   }
}

.btn-secondary {
   background-color: utils.$accent-color;
   color: utils.$text-color2;
   transition: all .2s ease-in;
   &:hover {
      background-color: utils.$accent-hover;
   }
   &:active {
      background-color: utils.$accent-color;
   }
}