// COLORS

$primary-color: #1E40AF;
$accent-color: #06B6D4;
$accent-hover: #09aac7;
$bg-color: #F8FAFC;
$bg-hover: #ececec;
$text-color: #0F172A;
$text-color2: #F8FAFC;

// SPACING

$space-l: 45px;
$space-m: 35px;
$space-s: 15px;
$space-xs: 5px;

// CORNERS

$corner-l: 12px;
$corner-m: 6px;
$corner-s: 4px;