// COLORS

$primary-color: #1E40AF;
$accent-color: #06B6D4;
$bg-color: #F8FAFC;
$text-color: #0F172A;

// SPACING

$space-l: 45px;
$space-m: 35px;
$space-s: 15px;

// CORNERS

$corner-l: 12px;
$corner-m: 6px;
$corner-s: 4px;